$font-family-base:"Segoe UI";
$font-siza-base:16px;
$font-size-mobile:12px;
$font-size-tablet:14px;
$footer-bg:#193F3D;
$main-color:#193F3D;
$golden-color:#B27208;
$form-control-color:rgba(255,255,255,0.25);
$white-color: #ffffff;
$copy-write-color:#b0b0b0;
$overlay-bg:#394f4eeb;
$latestnews-overlay-bg:rgba(23,58,65,0.81);
$transparent-color: transparent;
$filter-color:rgba(255,255,255,0.50);