<div class="bannar-owl">
  <div class="right-section"></div>
  <div class="left-section">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="slider">
          <p>Mission</p>
          <h1>YOUR BUSINESS <br>
            EXPANSION DESTINATION Slide 1</h1>
          <div class="circle">More <span class="icon-arrow-right"></span></div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slider">
          <p>Mission</p>
          <h1>YOUR BUSINESS <br>
            EXPANSION DESTINATION Slide 1</h1>
          <div class="circle">More <span class="icon-arrow-right"></span></div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="slider">
          <p>Mission</p>
          <h1>YOUR BUSINESS <br>
            EXPANSION DESTINATION Slide 1</h1>
          <div class="circle">More <span class="icon-arrow-right"></span></div>
        </div>
      </ng-template>
    </owl-carousel-o>
    <div class="number">
      <h1>1</h1>
      <h2>/4</h2>
    </div>
    
  </div>
</div>
<div class="investment">
    <div class="recent-ivestment">
      <h2 class="h6">RECENT INVESTMENT ANNOUNCEMENTS</h2>
      <div>
        <p>Navigating the Opportunities of Africa's Logistics Sector</p>
        <div class="circle">More <span class="icon-arrow-right"></span></div>
      </div>
    </div>
    <div class="investment-sectors">
      <div class="investment-sectors--header">
        <h2 class="h6">Investment Sectors</h2>
        <a class="load-more">More <span class="circle"><span class="icon-arrow-right"></span></span></a>
      </div>
      <div class="investment-sectors--icons">
        <div class="sectors--icons">
          <span class="icon-travel"></span>
          <h3>Tourism</h3>
        </div>
        <div class="sectors--icons">
          <span class="icon-tree-solid"></span>
          <h3>Agriculture</h3>
        </div>
        <div class="sectors--icons">
          <span class="icon-house"></span>
          <h3>Real Estate</h3>
        </div>
        <div class="sectors--icons">
          <span class="icon-industry"></span>
          <h3>Industrials</h3>
        </div>
        <div class="sectors--icons">
          <span class="icon-lightning-fill"></span>
          <h3>Energy</h3>
        </div>
        <div class="sectors--icons">
          <span class="icon-heartbeat"></span>
          <h3>Healthcare</h3>
        </div>
      </div>
    </div>
  </div>

