.footer {
    background-color: $footer-bg;
    background-image: url("~/assets/images/footer-bg.png");
    background-position: center;
    background-size: contain;
    padding: 15px 0;
    color:$white-color;
    display: flex;
    .right-section {
        width:16%;
    }
    .left-section {
        width: 84%;
        padding: 0 10.5rem 0 5.125rem;
        & ul.list-unstyled {
            & li {
                margin: 0 0 .625rem 0;
                a {
                   font-size: 1.125rem;
                   font-weight: lighter;
                }
            }
        }
        & form {
            .form-control {
                background-color: $form-control-color;
                border: 1px solid $main-color;
                border-radius: 0;
                color: $white-color;
                 &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: $white-color;
                    opacity: 1; /* Firefox */
                  }
                  
                 &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: $white-color;
                  }
                  
                 &::-ms-input-placeholder { /* Microsoft Edge */
                    color: $white-color;
                  }   
            }
            .btn {
                border: 2px solid $white-color;
                border-radius: 0;
                color: white;
                padding: 0.375rem 1.75rem;
            }
        }
        .social-icon {
            display: flex;
            span {
                margin-right: .625rem;
            }
            ul {
                margin-bottom: 0;
               li {
                   display: inline-block;
                   padding: 0 .3125rem;
                   font-weight: lighter;
               } 
            }
        }
        .copy-write {
            color: $copy-write-color;
            margin-bottom: 0;
        }
    }
}